@model YoYo_Web_App.Models.YoYoViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row justify-content-center">
        <button id="circle-btn" class="btn align-self-center" onclick="onPlayBtnClick(@Model.JSONContent)"><i class="fas fa-play-circle fa-5x play-btn"></i></button>
    </div>

    <div id="circle-container" class="row justify-content-center d-none">
        <div id="circle-content" class="circle">

        </div>
    </div>
    <div id="progressbar-container" class="row justify-content-center pt-2 d-none">
        <div class="progress col-10 h-50 p-0">
            <div id="progressbar" class="progress-bar progress-section progress-bar-striped" role="progressbar"
                 aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>

    <div class="row p-3">
        <div class="col-4">
            <p class="text-center">Next<br />Shuttle</p>
            <p class="text-center">0:00 s</p>
        </div>

        <div class="col-4">
            <p class="text-center">Total<br />Time</p>
            <p id="total-time" class="text-center">0:00 m</p>
        </div>
        <div class="col-4">
            <p class="text-center">Total<br />Distance</p>
            <p class="text-center"></p>
            <p class="text-center">0 m</p>
        </div>
    </div>

    <div class="row pt-2 border-bottom border-dark">
        <div class="col-12">
            <p class="text-info font-weight-bold">Track</p>
        </div>

    </div>

    @if (Model != null)
    {
        int index = 1;
        int totalRecords = Model.pleayersList.Count();
        foreach (var item in Model.pleayersList)
        {
            <div class="row p-1 pt-2 border-bottom @(index == totalRecords ? "border-dark" : "")">
                <div class="col-1">
                    <p class="text-info">@Html.DisplayFor(modelItem => index)</p>
                </div>
                <div class="col-5">
                    @Html.DisplayFor(modelItem => item.firstName)
                    @Html.DisplayFor(modelItem => item.lastName)
                </div>


                <div class="col-3 btn-container d-none btn_container_@item._id">
                    <button id="btn_warn_@item._id" onclick="warnPlayer(@item._id)" class="btn btn-primary">Warn</button>
                </div>

                <div class="col-3 justify-content-end btn-container d-none btn_container_@item._id">
                    <button id="btn_stop_@item._id" onclick="stopPlayer(@item._id)" class="btn btn-danger">Stop</button>
                </div>

                <div id="drowpdown_container_@item._id" class="col-6 justify-content-end d-none">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle custom-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            11/3
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>
            index++;
        }
    }



</div>